span[label=IntalioInternal_StartButton], span.intalioButton {
    margin: 0px 8px 0px 0px !important;
    padding: 3px 10px !important;
    float: left !important;
}

span.intalioButton {
    position: absolute !important;
    left: 135px !important;
}

.ie8 span.intalioButton  {
    margin: 43px 0px 0px 0px !important;
}
