@media all
{
span.root {
  overflow: visible !important;
  font-family: Helvetica,Arial,Verdana,sans-serif;
  font-size:12px;
  color: #444;
}

/* IE9 Dropdown list hack */
/* needs to be updated every time elements are added or removed */
.jsx30select_1_option {
  position:relative;
  font-family: Verdana, sans-serif;
  font-size: 10px;
  height: 16px;
  padding: 3px 8px 0px 4px;
  cursor: default;
  white-space:nowrap;
}

.jsx30button_text, .jsx30select_text {
  font-size:10px;
  color: #000;
}

.fieldset .fieldset-padding .jsx30block span[label=tooltipImg] {
    display: inline !important;
    width: 30px !important;
}

.jsx30image {
  min-width: 10px;
  min-height: 10px;
}

.row {
  margin-bottom: 12px;
  display: block !important;
  clear: both;
}

.column, .checkBlock {
  float: left;
}

.checkBlock {
  margin-right: 6px;
  min-height: 20px;
  min-width: 20px;
}

.column {
  margin-right: 12px;
}

#jsx .jsx30textbox, #jsx .jsx30select_text {
  width: 250px;
  height: 20px;
}

.labelPadding {
  padding-top: 12px;
}

.labelHeader {
  margin-bottom: 12px;
}

span.FormLabel, span.headerNote, #JSX div.form-title, #JSX span.form-title {
  font-family: Helvetica,Arial,Verdana,sans-serif;
  display: block !important;
}

span.FormLabel, span.headerNote {
  color:#666666;
}

div[label=IntalioInternal_SpacerBlock] {
  visibility: hidden !important;
} 

.checkLabel {
  padding-top: 2px;
}

span.checkLabel {
  padding-top: 2px;
}

legend {
  font-weight:normal;
  letter-spacing:1px;
  text-transform:uppercase;
  font-size: 14px;
  color: #444;
}

/* fieldset */
fieldset {
  border: 1px solid #da251d;
  margin: 0px 0px 12px 0px;
  padding: 12px;
}

/* padding inside fieldset (IE bug workaround) */
div.fieldset-padding {
  margin: 15px 10px;
  width: 100% !important;
}

/* form header */
#JSX div.form-title, #JSX span.form-title {
  font-size:2.5em;
  font-weight:bolder;
  letter-spacing:2px;
  text-transform:uppercase;
  color: #444;
}

span[label=IntalioInternal_StartButton], span.intalioButton {
    margin: 0px 8px 0px 0px !important;
    padding: 3px 10px !important;
}

span.intalioButton {
    position: absolute !important;
    left: 145px !important;
}

.ie8 span.intalioButton  {
    margin: 43px 0px 0px 0px !important;
}

span.required {
  color: red;
  font-size: 12px;
}

td.label-column {
  display:none;
}

}

@media print
{

#JSX .jsx30button {
  display: none !important;
}

fieldset {
  margin: 0 0 25 5;
  border: 1px solid #da251d;
  /* width: 820px; */
  page-break-after: always;
}

}